<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Dati sul Particulate Matter (PM)</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<header>
		<div class="logo">Dati sul Particulate Matter (PM)</div>
		<nav>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Contatti</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<h1>Particulate Matter (PM)</h1>
		<p>Il particulate matter (PM) è una forma di inquinante atmosferico costituito da particelle solide e liquide di dimensioni variabili, presenti nell'aria. Le particelle possono essere di origine naturale o antropica, con quest'ultima che rappresenta la maggior parte delle particelle.</p>
		<p>Per quanto riguarda il Veneto, i dati dell'Agenzia Regionale per la Prevenzione e Protezione Ambientale (Arpav) indicano che i livelli di PM10 nell'aria sono generalmente sotto i limiti di sicurezza stabiliti dall'Unione Europea. Ci sono state, tuttavia, alcune eccezioni, in particolare nella provincia di Padova, dove si sono verificati livelli di PM10 superiori al limite di sicurezza in alcune occasioni.</p>
		<p>Il PM10 rappresenta una minaccia significativa per la salute umana poiché le particelle hanno dimensioni sufficientemente piccole da penetrare nel sistema respiratorio e raggiungere i polmoni e altri organi interni. Ciò può provocare problemi respiratori, malattie cardiovascolari, cancro ai polmoni e altri gravi problemi di salute a lungo termine.</p>
		<p>Pertanto, è di fondamentale importanza monitorare i livelli di PM10 nell'aria e adottare misure per ridurre le emissioni di PM10, come il controllo delle fonti di inquinamento e l'adozione di tecnologie più pulite.</p>
		<table id="tabella-pm">
            <caption>Livelli di PM10 nell'aria nel Veneto</caption>
            <thead>
              <tr>
                <th>Provincia</th>
                <th>Livelli di PM10 (µg/m³)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Verona</td>
                <td>20</td>
              </tr>
              <tr>
                <td>Venezia</td>
                <td>18</td>
              </tr>
              <tr>
                <td>Padova</td>
                <td>25</td>
              </tr>
              <tr>
                <td>Treviso</td>
                <td>17</td>
              </tr>
              <tr>
                <td>Belluno</td>
                <td>16</td>
              </tr>
              <tr>
                <td>Rovigo</td>
                <td>12</td>
              </tr>
              <tr>
                <td>Vicenza</td>
                <td>19</td>
              </tr>
            </tbody>
          </table>
	</main>
	<footer>
		<p>Copyright © 2023</p>
	</footer>
</body>
</html>