<!DOCTYPE html>
<html>
<head>
    <title>Inquinamento da Polveri Sottili in Veneto</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header>
        <h1 class="logo">Inquinamento da Polveri Sottili in Veneto</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('graph') }}">Graph</a></li>
                <li><a href="{{ url_for('stationsmap') }}">Map</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Dati ARPAV</h2>
        <div class="wrapper">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Dati qualità dell'aria</h5>
                    <table class="table">
                        <caption>Tabella dei dati sull'inquinamento da polveri sottili in Veneto</caption>
                        <thead>
                            <tr>
                                <th>Stazione</th>
                                <th>Data</th>
                                <th>Tipo Inquinante</th>
                                <th>Valore (µg/m³)</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="pm-info">
                <h3>Particolato (PM)</h3>
                <ul>
                    <li><a href="pm10.html">PM10</a></li>
                    <li><a href="pm2-5.html">PM2.5</a></li>
                </ul>
            </div>
            <div class="ozone-info">
                <h3>Inquinamento Ozono nell'Aria</h3>
                <p><a href="ozone.html">Maggiori informazioni</a></p>
            </div>
            <div class="other-info">
                <h3>Altre Informazioni</h3>
                <ul>
                    <li><a href="nitrogen-oxide.html">Ossidi di Azoto (NOx)</a></li>
                    <li><a href="sulfur-dioxide.html">Anidride Solforosa (SO2)</a></li>
                </ul>
            </div>
        </div>
        <p class="source">Sorgente dati: <a href="http://www.arpa.veneto.it/arpavinforma/bollettini.php">ARPAV</a></p>
    </main>
    <footer>
        <p>&copy; 2023 - Progetto Flask</p>
    </footer>
    <script type="module" src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
